.table {
  overflow-y: scroll;
  height: 400px;
  max-width: 100%;
}
#main-window {
  overflow-y: scroll;
  height: 400px;
}

.line-break {
  white-space: nowrap;
  overflow: hidden;
}

.mat-column-title {
  flex: 0 0 60%;
}
